@charset "utf-8";

h1 {
	text-align: center;
	font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black," sans-serif";
	font-size: 50px;
	background: rgba(11,21,51,0.69);
	color: aliceblue	;
	padding: 10px;
	margin-left:90px;
	margin-right: 90px;
	border-top-right-radius: 60px;
	border-top-left-radius: 60px
		
		
}


p.parr1 {
	font-size: 25px;
	padding: 20px	
}

ul {
	text-align: justify;		
}

h2 {
	text-align: center;
	color: rgba(81,255,0,1.00)
}

div.col-md-12 {
	text-align: center
}

body {
	background-image:url(gjCCbm9.jpg);
	

}
address{
	
}

main.container {
	background: rgba(0,0,0,0.61);
	color: aliceblue;
	border-bottom-left-radius: 60px;
		border-bottom-right-radius: 60px
		
		
		
}
p {
	text-align: justify
}



p.parr3 {
	background:  rgba(0,10,71,0.57);
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	padding: 20px;
	border-radius: 60px 60px 60px 60px
		
}

p {
	padding: 
}

p.parr12 {
	font-size: 16px
}

a {
	color: rgba(124,255,6,1.00)
}

nav.navbar {
	color: rgba(127,236,0,1.00)
}

h1.img-responsive {
	text-align: center;
	font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black," sans-serif";
	font-size: 50px;
	background: rgba(11,21,51,0.69);
	color: aliceblue	;
	padding: 10px;
	margin-left:100px;
	margin-right: 1000px;
	border-top-right-radius: 60px;
	border-top-left-radius: 60px
		
}

h1.sub {
	background:  rgba(0,0,0,0.00);
	border-radius: 0 0 0 0
	
}

.jumbotron {
	background: rgba(0,0,0,0.61);
	color: aliceblue
}
